body {
    margin: 0px;
    margin-top: 0px;
}

#body-header {
    background-image: url("images/background.jpg");
    height: 65vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
    margin-top: 0%;
    width: 100%;
}

.horizontal-list {
    padding: 0px;
    list-style: none;
    margin: 0px;
    margin-left: 10px;
    margin-top: 10px;
}

.horizontal-list li {

    display: inline-block;
    margin: 0px 8px 8px 0px;
    padding: 10px;
    font-size: 1.6em;
    font-weight: 500;
}

.bars {
    color: #0b2d21;
    margin-right: 5%;
    display: none;
    font-size: large;
    margin: 20px 20px;
}

.bars i {
    font-size: 2.5rem;
}
