/* body{
    color: green
}

h1{
    color:red
}

h2{
    color:yellow
}

h3{
    color:black
}

#Gola-mola{
    color:pink
}

.para{
    color:blueviolet
} */

@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+NG+Modern:wght@100..400&display=swap');
body{
    font-family: "Playwrite NG Modern", cursive;
}

h1{
    font-family: "Oswald", sans-serif;
}

.container{
    padding-left: 1rem;
    /* max-width: 300px ; */
}
 .container-center{
    max-width: 600px;
    margin: auto;
 }

 .link{
    text-decoration: none;
    padding: 0.5rem 1rem;
 }
.primary-link{
background-color: blue;
border-radius: 1rem;
color: orange;    
}


.no-dots{
    list-style: 
    none;
}

.inkine-lane{
    display: inline;
    padding: 0rem 1rem;
}

/* header image  */

.lapimg{
    padding: 3rem;
}

.lapimg .lapimage{
    max-width: 300px;
    display: block;
    margin: auto;
}

.cente{
    padding: 1rem;
}
.cente h3{
    text-align: center;

}
.mente{
    background-color: grey;
}

.foot{
    background-color: aqua;
    padding: 1rem;
    text-align: center;
    border-top-right-radius: 1rem ;
}

.foote{
    color: blueviolet;

}