/* body{
    color: green
}

h1{
    color:red
}

h2{
    color:yellow
}

h3{
    color:black
}

#Gola-mola{
    color:pink
}

.para{
    color:blueviolet
} */

@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+NG+Modern:wght@100..400&display=swap');
body{
    font-family: "Playwrite NG Modern", cursive;
}

h1{
    font-family: "Oswald", sans-serif;
}

.container{
    padding-left: 1rem;
    /* max-width: 300px ; */
}
 .container-center{
    max-width: 600px;
    margin: auto;
 }